html
{
    font-family: Arial, Helvetica, sans-serif;
}

/*img 
{
    height: 100px;
    float: none;
    margin-left: 25%;
}
*/


#header
{
    color: black;
    top: 0;
    margin-left: -25px;
    margin-right: -25px;
    margin-top: -25px;
    position: sticky;
    text-align: center;
    border: solid 2px orangered;
    border-bottom-color: black;
    background-color: orangered;
    z-index: 100;
}

#RIT_logo 
{
  height: 25px;
  float: left;
  margin-left: 1.75%;
  margin-top: 1.5%;
}
#headerTitle
{
    margin-top: 1.5%;
    font-family: 'Courier New', Courier, monospace;
}

#aboutTitle
{
    color: orange; 
    font-weight: 900;
}

#about
{
    color: blue;
    text-align: center;
    margin-top: 1.25em;
    width: 45%;
    vertical-align: middle;
    margin-left: 27.5%;
    margin-right: 35%;
    border: black 1px solid;

}

#undergraduate
{
    float: left;
}

#graduate
{
    float: right;
    text-align: right;;
}

.faculty
{
    color: red;
    border: solid 2px black;
    position: relative;
    float: left;
    padding: 2.5%;
    margin-left: 1%;
    margin-bottom: 1%;
    display: block;
    
}
#people
{
    display: block;
}
#content
{
    float: right;
    bottom: 0px;

}
#about
{
    display: block;
    float: left;
    bottom: 0px;
}

caption
{
    margin-top: .75em;
}
#map-div {
    width : 75%;
    height : 750px;
    overflow: hidden;
    position: relative;
}

#map-iframe {
    top : -300px;
    left : -100px;
    width: 1280px;
    height: 1280px;
    position: absolute;
    -moz-transform: scale(0.75);
    -moz-transform-origin: 0 0;
}