#header
{
    color: black;
    top: 0;
    margin-left: -25px;
    margin-right: -25px;
    margin-top: -25px;
    position: sticky;
    text-align: center;
    border: solid 2px orangered;
    border-bottom-color: black;
    background-color: orangered;
    z-index: 100;
}

.faculty
{
    color: red;
    border: solid 2px black;
    position: relative;
    float: left;
    padding: 2.5%;
    margin-left: 1%;
    margin-bottom: 1%;
    display: block;
    
}
#people
{
    display: block;
}
#content
{
    float: right;
    bottom: 0px;

}
#about
{
    display: block;
    float: left;
    bottom: 0px;
}
img 
{
    height: 100px;
    float: none;
    margin-left: 25%;
}