html
{
    background-color: black;
}
#warning
{
    margin-left: 40%;
}
 h1
{
color: red;
}
p
{
    color: white;
}
h1, p
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#images
{
margin-left: 42%
}