/* Apply to backgroun and all fonts */
html
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fffafa;
}

/* Sticking RIT logo and title up*/
#header
{
    color: black;
    top: 0;
    margin-left: -25px;
    margin-right: -25px;
    margin-top: -25px;
    position: sticky;
    text-align: center;
    border: solid 2px #f76802;
    border-bottom-color: black;
    background-color: #f76802;
    z-index: 100;
}

/* RIT LOGO in header*/
#RIT_logo 
{
  height: 25px;
  float: left;
  margin-left: 1.75%;
  margin-top: 1.5%;
}

/* Undergraduate and Graduate */
#degrees
{
    background-color: black;
}

/* the item title in header */
#headerTitle
{
    margin-top: 1.5%;
    font-family: 'Courier New', Courier, monospace;
}

/* the item title in about */
#aboutTitle
{
    color: #f76802; 
    font-weight: 900;
}

/* Entire about */
#about
{
    text-align: center;
    margin-top: 1.25em;
    width: 45%;
    vertical-align: middle;
    margin-left: 27.5%;
    margin-right: 35%;
    border: black 1px solid;
    background-color: white;

}

/* Entire undergraduate */
#undergraduate
{
    float: left;
    display: block;
    margin-left: 52%;
    border: black 2px solid;
    background-color: white;
    padding: 1%;

}

/* Entire graduate */
#graduate
{
    float: right;
    text-align: right;
    display: block;
    margin-right: 52%;
    margin-top: -29.5%;
    direction: rtl;
    border: black 2px solid;
    background-color: white;
    padding: 1%;

}

/* specific input buttons */
.buttons
{
    margin-top: 1%;
    margin-left: 2%;
    text-align: center;
    vertical-align: center;
    margin-right: 2%;
}

/* button hiding div */
#hidediv
{
    font-weight: 900;
    margin-right: 1.5%;
}

/* button showing div */
#showdiv
{
    font-weight: 900;
}

/* ALL TABLES */
table
{
    vertical-align: center;
    text-align: center;
    margin-left: 28.5%;
}

/* One faculty block style - applies to all faculties */
.faculty
{
    
    border: solid 2px black;
    position: relative;
    display: inline-block;
    margin-left: 1%;
    margin-bottom: 1%;
    background-color: rgb(250, 250, 250);
    width: 200px;
    margin-top: 1%;
    top: 0px;
    
}

/* Employment careers */
.employmentCareers
{
    float: left;
    display: block;
    border: black 2px solid;
    background-color: white;
    padding: 1%;
}

/* Each faculty member's images*/
.facultyImages
{

    width: 200px;
    height: 215px;
    border-bottom: solid black 3px;
}

/* Entire #people*/
#people
{
    display: block;
    background-color: white;
    border: solid 2px black;
    margin-left: .5%;
    margin-top: .5%;
    text-align: center;

}

/* title item in faculty */
#facultyTitle
{
    margin-left: .5%;
    text-align: left;
}

/* entire #people */
#content
{
    float: right;
    bottom: 0px;

}
/* entire #about */
#about
{
    display: block;
    float: left;
    bottom: 0px;
}

/* entire #minors */
#minors
{
    background-color: white;
    border: solid 2px black;
    margin-top: 53%;
    margin-left: .5%;
    padding: .5%;

}

/* all captions in a table*/
caption
{
    margin-top: .75em;
    font-weight: bold;
}

/* all tables and captions */
table, caption
{
 background-color: white;   
 border: black solid 1px;
}

/* entire #research */
#research
{
    background-color: white;
    border: solid 2px black;
    margin-left: .5%;
    margin-top: .5%;   
    padding: .5%;
}

/* entire #resources */
#resources
{
    background-color: white;
    border: solid 2px black;
    margin-left: .5%;
    margin-top: .5%;   
    padding: .5%;
    display: block;
}

/* each resource blocks */
.resourceBlock
{
    vertical-align: middle;
    display: inline-block;
    background-color: rgb(250, 250, 250);
    border: solid 1.5px black;
    margin-right: 1%;
    padding: .5%;
    width: 35%;

}

/* studentservicesadvisors item in studentservices resource*/
.resourceStudentServicesAdvisors
{
    vertical-align: middle;
    display: inline-block;
    margin-left: 2%;
    background-color: rgb(240, 240, 240);
    border: solid 1.5px black;
    padding: .5%;
    padding-left: 2%;
    padding-top: -2%;
    padding-bottom: -2%;
    width: 25%;
    height: 10%;
}

/* studentServicesIndividualFacultyAdvisors in studentservices resource*/ 
.studentServicesIndividualFacultyAdvisors
{
    vertical-align: middle;
    display: inline-block;
    margin-top: .1%;
    margin-left: .1%;
    background-color: rgb(240, 240, 240);
    border: solid 1.5px black;
    padding: .5%;
    padding-left: 2%;
    padding-top: -2%;
    padding-bottom: -2%;
    width: 25%;
    height: 10%;
}

/* tutorlabandinformation block */
.tutorAndLabInformation
{
    background-color: #f76802;
    border: solid 2px black;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: .5%;   
    padding: .5%;
    display: block;
    text-align: center;
}

/* studentAmbassadors block*/
.studentAmbassadors
{
    border: solid 2px black;
    margin-top: 1%;
    background-color: rgb(250, 250, 250);
}

/* header of student ambassadors*/
.studentAmbassadorsHeader
{
    background-color: rgb(240, 240, 240);
    border: solid 2px black;
    top: 0px;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 1.5%;
    padding-bottom: 1%;
}

/* details of student ambassadors */
.studentAmbassorsDetail
{
    margin-left: 1%;
}

/* all "buttons" that are not really buttons but are more of a link square clicker*/
.formButton
{
    border: 3px solid black;
    background-color: #f76802;
    position: relative;
    display: inline-block;
    font-size: 1.25em;
    padding: 1.15%;
    margin-left: 1%;
    text-align: center;
}

/* entire coopenrollment block */
.coopEnrollment
{
    border: solid 2px black;
    margin-top: 1%;
    background-color: rgb(240, 240, 240);
    padding-left: 1%;
}

/* specific advertisement and separate form button not applied to #formButton*/
.formButtonAd
{
    border: 3px solid black;
    background-color: #a74500;
    position: relative;
    display: inline-block;
    font-size: 1.15em;
    padding: 1.15%;
    margin-left: 1%;
    text-align: center;
    
}

/* entire copyright */
.copyright
{
    text-align: center;
}

/* ALL LINKS */
a
{
    color: blue; 
    text-decoration-style: none;    
}

/* ALL LINKS when hovered */
a:hover 
{
    background-color: #ff6a00;
    color: black;
}

/* advertisement block in footer */
.footerAdvertisement
{
    background-color: #eb6200;
    border: solid 2px black;
    padding: .5%;
    width: 30%;
    display: inline-block;
    text-align: center;
}

/* entire iframe of contact us */
#contact-iframe
{
    margin-top: 1%;
    background-color: white;
    width: 35%;
    margin-right: 1%;
    display: inline-block;
    position: relative;

}

/* wrapping two blocks into one block */
#footerWrap
{
    position: relative;
    display: block;
    width: 100%;
}

/* entire iframe of map */
#map-iframe 
{
    background-color: #f76802;
    border: 2px black dashed;
    margin-top: 1%;
    padding-bottom: .5%;
    margin-left: 25%;
    top : -300px;
    left : -100px;
    width: 48.3%;
    height: 900;
    text-align: center;
    -moz-transform: scale(0.75);
    -moz-transform-origin: 0 0;
}